<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/test2.jpeg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/check.jpeg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/gradA.jpeg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/fiveA.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/9.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/8.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/7.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="box mb-3 bg-white" data-work="application">
      <img src="../assets/images/cup.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>