<div class="stuff pt-5">
  <div class="container">
    <div class="main-title text-center mt-5 mb-5 position-relative">
      <img class="mb-4" src="../assets/images/elearning.png" alt="" style="width: 80px;">
      <h2>Who We Are ?</h2>
      <p class="text-black-50 text-uppercase">Live Academy is a leading provider
        of online Access to Higher Education courses.<br> Through years of
        experience in delivering online courses, we have supported thousands of adult learners <br> in fulfilling their
        goals.</p>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-secondary main-btn mb-5" [routerLink]="['/about']">Know Us More !</button>
    </div>
    <app-about-details></app-about-details>
    ///ههههه
