<!-- <div class="reg container pb-5">
  <div class="row align-items-center">
    <div class="col-lg-4 text-center text-md-start">
      <div class="text">
        <h3 class="text-black-50  text-center text-uppercase">Get 100s of online <span style="color:blue">courses for
            free</span></h3>
        <h1 class=" text-center text-uppercase"> register now </h1>
        <img src="/src/assets/images/reg03.jpg" alt="" class="img-fluid">

      </div>
    </div>
    <div class="col-lg-8 ">
      <app-register></app-register>
    </div>
  </div>
</div>

<app-footer></app-footer> -->


<div class="reg container pb-5">
  <div class="row align-items-center">
    <div class="col-lg-4 text-center text-md-start">
      <div class="text">
        <h3 class="text-black-50  text-center text-uppercase">Get 100s of online <span style="color:blue">courses for
            free</span></h3>
        <h1 class=" text-center text-uppercase"> register now </h1>
        <img src="assets/images/reg03.jpg" alt="" class="img-fluid">

      </div>
    </div>
    <div class="col-lg-8 ">
      <app-register></app-register>
    </div>
  </div>
</div>

<app-footer></app-footer>