.log
{
    height: calc(80vh - 70px);
    background-size: cover;
    background: no-repeat scroll center scroll ;
    position: relative;
}

h3{

    font-size: 45px;
    color: #33d1cc;

}
@media only screen and (max-width: 994px) {
      .text1   {
        display: none;

    }
  }
