<div class="container pb-5">
  <div class="row align-items-center">
    <div class="col-lg-4 text-center text-md-start">
      <div class="text">
        <h2 class="mb-5">Live Academy</h2>
        <p class="text-black-50 fs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio fugiat animi
          ut facere. Dolores, sit enim dolore possimus nisi architecto?</p>
        <p class="text-black-50 fs-6">Lorem ipsum dolor sit amet consectetur Optio autem eligendi illo eaque cupiditate,
          iusto, non asperiores officia excepturi magnam ab porro ipsam suscipit repellat aut, provident explicabo. Esse
          alias officiis laudantium.</p>
      </div>
    </div>
    <div class="col-lg-8 ">
      <div class="image">
        <img class="img-fluid" src="../assets/images/ex.svg" alt="">
      </div>
    </div>
  </div>
</div>
<app-courses></app-courses>
<app-footer></app-footer>